<div class="row">
    <div class="well col-md-5 col-md-offset-4">
        <h2 style="text-align:center">Add Candidate</h2>
        <form method="post" action="/home/AddCandidate" enctype="multipart/form-data">
            <input type="text" class="form-control" name="firstName" placeholder="First Name">
            <br />
            <input type="text" name="lastName" placeholder="Last Name" class="form-control" />
            <br />
            <input type="text" name="emailAddress" placeholder="Email Address" class="form-control" />
            <br />
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control" />
            <br />
            <textarea rows="4" name="notes" class="form-control"></textarea>
            <br />
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

