<div class="row">
    <div class="col-md-5 col-md-offset-4 well">

        <h3><a href="/Home/AddCandidate"><span class="glyphicon glyphicon-user"></span>  Add Candidate</a></h3>
      
        <h3><a href="/Home/Pending"><span class="glyphicon glyphicon-question-sign"></span>  View Pending</a></h3>
       
        <h3><a href="/Home/Confirmed"><span class="glyphicon glyphicon-ok-sign"></span>  View Confirmed</a></h3>
        
        <h3><a href="/Home/Declined"><span class="glyphicon glyphicon-remove-sign"></span>  View Declined</a></h3>
    </div>
</div>